<div class="album-box" *ngIf="album">
    <div id="album-head-card">
            <div class="image">
                <img src="{{ url + 'get-image-album/' + album.image }}"/>
            </div>
            <div class="data">
                <h1>{{album.title}}</h1>
                <p>{{album.year}}</p>
                <p>{{album.description}}</p>

                <a [routerLink]="['/crear-tema', album._id]" class="btn btn-default" *ngIf="identity.role == 'ROLE_ADMIN'">
                    Añadir canción
                </a>
            </div>
    </div>
</div>