<div class="album-box" *ngIf="album">
    <div id="album-head-card">
            <div class="image">
                <img src="{{ url + 'get-image-album/' + album.image }}"/>
            </div>
            <div class="data">
                <h1>{{album.title}}</h1>
                <p><strong>{{album.artist.name}}</strong></p>
                <p>{{album.year}}</p>
                <p>{{album.description}}</p>

                <a [routerLink]="['/crear-tema', album._id]" class="btn btn-default" *ngIf="identity.role == 'ROLE_ADMIN'">
                    Añadir canción
                </a>
            </div>
    </div>
    <div class="clearfix"></div>
    <div id="gallery-songs" *ngIf="songs">
        <ul id="songs-list">
            <li *ngFor="let song of songs" class="song-item">
                <div class="title">
                    <a class="btn btn-success">
                        <span class="glyphicon-play" aria-hidden="true"></span>
                    </a>
                    {{song.number + '.'+ song.name + '-'+ song.duration}}
                        <p>
                            <a [routerLink]="['/editar-tema', song._id]" class="btn bnt-warning">
                            Editar
                        </a>
                        <p>
                            <a [routerLink]="['/editar-tema', song._id]" class="btn bnt-danger">
                            Borrar
                        </a>
                    </p>
                </div>
            </li>
        </ul>

    </div>
</div>
