html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: #eee;
}

.central{
    height: 100%;
    overflow-y: scroll;
}
.head-title{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: block;
}

.navigation{
    text-align: center;
    color: white;
    background: #1C1C1F;
    height: 100%;
}

.navigation a{
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.navigation .fa{
    font-size: 25px;
    display: block;
    width: 100%;

}

.navigation a:hover{
  color: white;
}

.actived {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border-bottom: 4px solid#8400;
    padding-bottom: 4px;
}

#user_logged{
  text-decoration: center;
  background: #1C1C1F;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid#444;
  width: 75%;
}

#user_logged .fa-sign-out{
    font-size: 16px;
}

.img-redonda{
  background: #eee;
  border-radius: 100px;
  height: 57px;
  width: 57px;
  border-radius: 50px;
  border: 4px solid rgb(241, 225, 0);
  margin: 0px auto;
  margin-top: 15px;
  overflow: hidden;
}

#user-logged .user-image img{
  width: 57px;
}

.btn-logout{
  cursor: pointer;
}

.artist-list{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    list-style: none;
}
.artist-item{
    width: 23%;
    padding: 0px;
    margin: 0px;
    height: 317px;
    border: 1px solid #444;
    margin-left: 20px;
    margin-top: 20px;
}
.artist-item .artist-image{
    height: 245px;
    width: 100%;
    overflow: hidden;
    background: black;

}
.artist-item .artist-image img{
    height: 100%;
    
}
.artist-item .artist-name {
    color: white;
    padding: 10px;
    background: #222326;
    
}
.artist-item .artist-name a{
    color: white;

}

.artist-head-card .image{
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}
.artist-head-card .image img{
    width: 150px;
}