html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: #eee;
}

.central{
    height: 100%;
    overflow-y: scroll;
}
.head-title{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: block;
}

.navigation{
    text-align: center;
    color: white;
    background: #1C1C1F;
    height: 100%;
}

.navigation a{
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.navigation .fa{
    font-size: 25px;
    display: block;
    width: 100%;

}

.navigation a:hover{
  color: white;
}

.actived{
    margin: 0px;
    padding: 0px;
    height: 100%;
    border-bottom: 4px solid#8400;
    padding-bottom: 4px;
}

#user_logged{
  text-decoration: center;
  background: #1C1C1F;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid#444;
  width: 75%;
}

#user_logged .fa-sign-out{
    font-size: 16px;
}

.img-redonda{
  background: #eee;
  border-radius: 100px;
  height: 57px;
  width: 57px;
  border-radius: 50px;
  border: 4px solid rgb(241, 225, 0);
  margin: 0px auto;
  margin-top: 15px;
  overflow: hidden;
}

#user-logged .user-image img{
  width: 57px;
}

.btn-logout{
  cursor: pointer;
}

.artist-list,
.album-list{
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    list-style: none;
    min-height: 800px;

}
.artist-item,
.album-item{
    width: 23%;
    padding: 0px;
    margin: 0px;
    height: 317px;
    border: 1px solid #444;
    margin-left: 20px;
    /*margin-top: 20px;*/
}
.artist-item .artist-image,
.album-item .album-image{
    height: 50px;
    width: 50px;
    overflow: hidden;
    background: black;

}


.album-item .album-image img{
        width: 100%;
}

.album-item{
    height: 357px;
}


.img-artist{
  background: #eee;
  border-radius: 50px;
  height: 150px;
  width: 150px;
  border-radius: 20px;
  border: 4px solid rgb(241, 225, 0);
  margin: 0px auto;
  margin-top: 15px;
  overflow: hidden;
}

.artist-item .artist-name,
.album-item .album-name{
    color: white;
    padding: 10px;
    background: #222326;
}

.artist-item .artist-name a,
.album-item .album-name a{
    color: white;

}
.image-solo-artist{
    background: #0000;
    border-radius: 50px;
    height: 250px;
    width: 250px;
    border-radius: 20px;
    border: 4px solid rgb(4, 0, 255);
    margin: 0px auto;
    margin-top: 15px;
    overflow: hidden;
}

.artist-head-card .image,
.artist-head-card .image{
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 30px;

}
.artist-head-card .image img,
.artist-head-card .image img{
    width: 150px;
}

.artist_image_for_edit img,
.album_image_for_edit img{
    width: 150px;
}



.player{
  background: #1C1C1F;
  position: fixed;
  width: 90.2%;
  bottom: 0;
  padding: 20px;
  margin-left: -15px;
  border-left: 1px solid #444;
}
.player .album-image{
  float:left;
  width: 138px;
  height: 119px;
  overflow: hidden;
}

.player .album-image img{
  height: 100%;
}

.player .audio-file{
  width: 85%;
  height: 40px;

  margin-left: 10px;
  float: left;
}

.player audio{
  width: 100%;
  height: 40px;
}
